AddDefaultCharset utf-8

RewriteEngine on
RewriteBase /

# правила для картинок и файлов стилей
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php

php_value upload_max_filesize 10M 
php_value post_max_size 10M